# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
*.swp
*.lock

# Maven build output
/target/

# Eclipse / IntelliJ / NetBeans IDE files
*.classpath
*.project
*.settings/
*.idea/
*.iml
*.ipr
*.iws

# Logs
*.log

# Other files
*.jar
*.war
*.ear
*.class
